@import './markdown.css';

html,
body,
#app {
  margin: 0;
  padding: 0;
}

html.dark {
  @apply bg-gray-900;
}

html {
  @apply px-8;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-purple-400 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.backdrop-blur {
  backdrop-filter: blur(8px);
}

::-webkit-scrollbar {
  @apply bg-gray-800;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .72);
}

::-webkit-resizer {
  padding: 1rem;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}